body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: hidden;
}

h1 {
    text-align: center;
}

#game-container {
    max-width: 800px;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 20px;
    margin: 10px;
    padding: 10px 20px;
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    animation: bounce 1.5s ease-in-out forwards;
}

button:hover {
    background-color: #333;
    color: #fff;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

#computer-move {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
    color: black;
}

#computer-move.animate {
    opacity: 1;
}

.animate-fade {
    animation: fade 1s ease-in-out;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#result {
    font-size: 24px;
    margin-top: 20px;
}

#score {
    font-size: 20px;
    margin-top: 20px;
}

#table-container {
    max-height: 200px;
    overflow-y: auto;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
}

th,
td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #dedede;
    position: sticky;
    top: 0;
    z-index: 1;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ddd;
}

/* Text Effect After Wining */
.glory {
    animation-name: glory;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
  }
  
  @keyframes glory {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.5);
      opacity: 0.5;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  