body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: hidden;
}

h1 {
    text-align: center;
}

#game-container {
    max-width: 800px;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 20px;
    margin: 10px;
    padding: 10px 20px;
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    animation: bounce 1.5s ease-in-out forwards;
}

button:hover {
    background-color: #333;
    color: #fff;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

#computer-move {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
    color: black;
}

#computer-move.animate {
    opacity: 1;
}

.animate-fade {
    animation: fade 1s ease-in-out;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#result {
    font-size: 24px;
    margin-top: 20px;
}

#score {
    font-size: 20px;
    margin-top: 20px;
}

#table-container {
    margin-top: 10px;
    max-height: 200px;
    overflow-y: auto;
}

table {
    border-collapse: separate;
    border-spacing: 10;
    width: 100%;
    max-width: 800px;
}

th,
td {
    padding: 10px;
    text-align: center;
    border: 1px solid #000;
}

tr:first-child {
    position: sticky;
    top: 0;
    z-index: 1;
}

tr:nth-child(odd) {
    background-color: #d9d9d9;
}

tbody tr:hover {
    background-color: #ddd;
}

/* Text Effect After Wining */
.glory {
    animation-name: glory;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

@keyframes glory {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.5);
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Dark-Light mode */
#dark-mode-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

/* Dark Mode */
body.dark-mode {
    color: #f2f2f2;
    background-color: #1a1a1a;
}

h1.dark-mode {
    color: #fff;
}

#game-container.dark-mode {
    border: none;
}

.button-container.dark-mode {
    border: 2px solid #fff;
}

button.dark-mode {
    background-color: #2f343a;
    color: #fff;
    border: 2px solid #343a40;
    transition: all 0.5s ease-in-out;
}

button.dark-mode:hover {
    background-color: #ccc;
    color: #000;
}

#computer-move.dark-mode {
    color: #fff;
}

#result.dark-mode {
    color: #fff;
}

#score.dark-mode {
    color: #fff;
}

#table-container.dark-mode {
    border: 2px solid #fff;
}

table.dark-mode {
    background-color: #f9f9f9;
    border-spacing: 10;
    color: #333;
}

table.dark-mode tr:nth-child(even) {
    background-color: #f2f2f2;
}

table.dark-mode tr:nth-child(odd) {
    background-color: #d9d9d9;
}

table.dark-mode th {
    background-color: #444;
    color: #fff;
}

/* Text Effect After Wining */
.glory.dark-mode {
    color: #fff;
}